.drawer{
  display: 'block';
  position: 'fixed';
  top: 0;
  bottom: 0;
  right: 0;
  width:'200px';
  padding:'10px';
  background-color: 'white';
  box-shadow: '0 0 36px 0 rgba(0,0,0,0.1)';
  transition: 'all 0.4s ease-out';
}