body {
  margin: 0;
}

.nav-belt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  top: 0;
  background-color: #22a63d;
}

.logo {
  width: 100px;

}

.searchbar {
  padding: 0;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 3px;
  margin-top: 30px;
  outline: none;
  padding-left: 20px;
  font-size: 17px;
}


.searchbutton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0;
}

.cart {
  margin-right: 50px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;

  width: 1600px;
}

