 body {
   margin: 0;
 }

 .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 100px;
   background-color: #22a63d;
   align-items: center;
 }

 .logo {
   width: 100px;
 }

 .header-left {
   width: 200px;
   margin-left: 20px;
 }

 .header-middle {
   flex: 1;
   margin-left: 20px;
   margin-right: 30px;
   max-width: 500px;
   display: flex;
 }


 .searchbar {
   flex: 1;
   height: 40px;
   border: none;
   outline: none;
   border-radius: 3px;
   padding-left: 20px;
   font-size: 15px;
 }

 .searchbutton {
   width: 40px;
   border: none;
   border-radius: 3px;
   color: white;
   background-color: rgb(12, 92, 16);

 }

 .header-right {
   width: 200px;
   color: white;
   font-size: 20px;
 }

 .container {
   display: flex;
   justify-content: center;
 }



 .goods {
   margin: 10px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   justify-content: center;
   width: 1200px;
 }

 .profilepic {
   width: 100%;
 }

 .products {
   display: flex;
   justify-content: center;
 }

 .small-pic {
   display: inline-block;
   width: 70px;
   vertical-align: top;
 }

 .small-pic img {
   width: 50px;
   border-radius: 50px;
 }



 .text {
   display: inline-block;
   width: 210px;
 }

 p {
   padding: 0;
   margin: 0;
 }