 body {
   margin: 0;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url('./images/ww.avif');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

 .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 100px;
   background-color: #231f20;
   align-items: center;
 }

 .logo {
   width: 100px;
 }

 .header-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 200px;
   margin-left: 20px;
 }

 .event {
   margin-top: 20px;
   width: 200px;
 }

 .header-middle {

   flex: 1;
   margin-left: 20px;
   margin-right: 30px;
   max-width: 800px;
   display: flex;
 }


 .searchbar {
   flex: 1;
   height: 40px;
   border: none;
   outline: none;
   border-radius: 3px;
   padding-left: 20px;
   font-size: 15px;
 }

 .searchbutton {
   width: 60px;
   border: none;
   border-radius: 3px;
   color: rgb(0, 0, 0);
   background-color: rgb(180, 180, 180);

 }

 .header-right {
   width: 200px;
   color: white;
   font-size: 20px;
 }

 .content-left {
   position: absolute;
   left: 0;
   top: 20%;
   transform: translateY(-50%);

 }



 .container {
   display: flex;
   justify-content: center;
 }



 .goods {
   margin: 10px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   justify-content: center;
   width: 1200px;


 }

 .profilepic {
   width: 100%;
 }

 .products {
   display: flex;
   justify-content: center;
 }

 .small-pic {
   display: inline-block;
   width: 70px;
   vertical-align: top;
 }

 .small-pic img {
   width: 50px;
   border-radius: 50px;
 }



 .text {
   display: inline-block;
   width: 210px;
 }

 .fa-solid {
   font-size: 50px;
   color: white;
 }

 p {
   padding: 0;
   margin: 3px 0;
 }

 #icon-container {
   position: relative;
   display: inline-block;
   cursor: pointer;

 }

 .cartquantity {
   position: absolute;
   top: 27%;
   left: 55%;
   transform: translate(-50%, -50%);
   font-size: 1em;
   font-weight: 700;
   color: #f88604;

 }

 .addbutton {
   background-color: #f88604;
   border-radius: 3px;
   border: none;
   padding: 5px 20px;
   color: rgb(255, 255, 255);
   transition: 0.1s;
 }

 .addbutton:hover {
   scale: 1.05;
   opacity: 0.85;
 }

 @media screen and (max-width: 1200px) {
   .goods {
     grid-template-columns: repeat(2, 1fr);
   }
 }

 @media screen and (max-width: 700px) {
   .goods {
     grid-template-columns: repeat(1, 1fr);
   }

 }