


.dark{
  background-color: aquamarine;
  color: blueviolet;
}


.blue{
  background-color: rgb(54, 75, 192);
    color: rgb(49, 226, 43);
}


.pink{
  background-color: rgb(145, 75, 75);
    color: rgb(141, 2, 141);
}


.hidden{
  display: none;
}

.text{
  font-size: 13px;
  margin: 0px 0px 0px 30px;
}


.highlight{
 padding: 10px;
}

* {
  margin: 10px;
}


#cat4{
  transition:1s ease-in;
}

#cat4:hover{
  transform:rotate(270deg);
}

#catmustache:hover {
  transform: rotate(360deg);
}

#catmustache{
  transition: 1s ease-in;
}