.dark{
  background-color: aquamarine;
  color: blueviolet;
}


.blue{
  background-color: rgb(54, 75, 192);
    color: rgb(49, 226, 43);
}


.pink{
  background-color: rgb(145, 75, 75);
    color: rgb(141, 2, 141));
}
