body {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: rgb(151, 185, 214);
}

.js-name-input {
  border-radius: 5px;
  outline: none;
  width: 300px;
  height: 35px;
  padding-left: 10px;
  border: none;
}

.js-date-input {
  border-radius: 5px;
  outline: none;
  width: 200px;
  height: 35px;
  padding-left: 10px;
  border: none;
}

.button {
  width: 80px;
  height: 37px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  background-color: rgb(114, 114, 114);
}

.button:hover {
  opacity: 0.8;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.box {
  margin-top: 200px;
}

.js-todo-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  height: 800px;
  border: none;
  padding: 20px;
  text-align: left
}

.delete {
  width: 80px;
  height: 27px;
  margin-left: 100px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #2c2b2b;
}

.js-todo-list div {

  color: white;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  height: 30px;

}