div {
  border: 1px solid #ccc;
}


#container {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
}



#header {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
    ;

}

#contents {
  width: 620px;
  padding: 20px;
  float: left;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
    ;

}

#sidebar {
  width: 230px;
  padding: 20px;
  float: right;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
    ;
}



#footer {
  clear: both;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
    ;
}












.container {
  border: 0;
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 400px;
  box-shadow:5px 5px 10px rgb(192, 192, 192); ;
}

.container2 {
  border: 0;
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 400px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
  ;
}

.container3 {
  border: 0;
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 400px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
  ;
}




.carousel-wrapper {
  border: 0;
  overflow: hidden;
}

.carousel-wrapper2 {
  border: 0;
  overflow: hidden;
}

.carousel-wrapper3 {
  border: 0;
  overflow: hidden;
}



.carousel {
  border: 0;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s;
}


#carousel2 {
  border: 0;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s;
  animation: fadeIn 0.5s ease-in-out;
}

#carousel3 {
  border: 0;
  display: flex;
 
 
}





#back {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: -100px;
  cursor: pointer;
  transform: translateY(-50%);
}

#next {
  overflow: visible;
  position: absolute;
  top: 50%;
  right: -100px;
  cursor: pointer;
  transform: translateY(-50%);
}



#back2 {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: -100px;
  cursor: pointer;
  transform: translateY(-50%);
}

#next2 {
  overflow: visible;
  position: absolute;
  top: 50%;
  right: -100px;
  cursor: pointer;
  transform: translateY(-50%);
}



/* 기본 슬라이드 스타일 */
.slide {
  display: none;
  /* 슬라이드 숨기기 */
}

/* 활성 슬라이드 스타일 */
.slide.active {
  display: block;
  /* 활성 슬라이드 보이기 */
  animation: fadeIn 1s ease-in-out;
  /* 페이드 인 애니메이션 적용 */
}

/* 페이드 인 애니메이션 키프레임 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    /* 투명도 0%로 시작 */
  }

  100% {
    opacity: 1;
    /* 투명도 100%로 끝 */
  }
}




.container4 {
  border: 0;
  margin: 0 auto;
  position: relative;
  perspective: 800px;
  width: 800px;
  height: 400px;
  box-shadow: 5px 5px 10px rgb(192, 192, 192);
  ;
}

.carousel-wrapper4 {
  border: 0;
  overflow: hidden;
}


#carousel4 {
  border: 0;
  display: flex;


}


.carousel4 {
  display: flex;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.slide4 {
  flex: 0 0 100%;
  transform: rotateY(0deg);
  /* 초기 회전 각도는 0도 */
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
 
  /* 뒷면을 숨김 */
}

.slide4.active4 {
  transform: rotateY(180deg);
  /* 회전 각도를 180도로 변경 */
}

/* 
#back4,
#next4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
} */


#back4 {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: -100px;
  cursor: pointer;
  transform: translateY(-50%);
}

#next4 {
  overflow: visible;
  position: absolute;
  top: 50%;
  right: -100px;
  cursor: pointer;
  transform: translateY(-50%);
}






















